<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title th:text="${navigation.name}"/>

    <!-- Le styles -->
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet"/>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet"/>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://getbootstrap.com/2.3.2/assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png"/>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png"/>
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png"/>
                    <link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png"/>
                                   <link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/ico/favicon.png"/>
  </head>


  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" th:href="@{${navigation.path}}" th:text="${navigation.name}"/>
          <div class="nav-collapse collapse">
            
            <ul class="nav">
				<li th:each="n1 : ${navigation.children}" th:if="${!n1.hide}" th:class="${n1.selected} ? 'active'">
					<a th:href="@{${n1.path}}" th:text="${n1.name}"/>
				</li>
            </ul>
            
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email"/>
              <input class="span2" type="password" placeholder="Password"/>
              <button type="submit" class="btn">Sign in</button>
            </form>
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>




    <div class="container">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav" th:each="n1 : ${navigation.children}" th:if="${n1.selected}">
            
 				<ul th:each="n2 : ${n1.children}" th:if="${!n2.hide}" class="nav nav-list" >

					<li th:if="${#lists.isEmpty(n2.children)}" th:class="${n2.selected} ? 'active'">
						<a th:href="@{${n2.path}}" th:text="${n2.name}"/>
					</li>
					
					<li th:unless="${ #lists.isEmpty(n2.children) }" th:class="${n2.selected} ? 'active'">
            <a/><span th:text="${n2.name}"/><a/>
            <ul class="nav nav-list">
		          <li th:unless="${ #lists.isEmpty(n2.children) }" th:each="n3 : ${n2.children}" th:if="${!n3.hide}">
		            <a th:href="@{${n3.path}}" th:text="${n3.name}" />
		          </li>
            </ul>
					</li>
				</ul>
            
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
 

			<form class="form-inline" id="queryForm" method="post" th:object="${model_query}">
				
		
				<input type="hidden" id="pageNumber" name="model_query_pageable.pageNumber" th:value="${model_query_pageable.pageNumber}"/>

				<p>
					<label th:text="#{application.searchCondition}" th:if="${#lists.size(model_information.getQueryAttributes()) > 0}"/>
	
					<input th:if="${attr['editable']}" th:each="attr : ${model_information.getQueryAttributes()}"
							type="text" class="input-mini search-query" 
						   	th:field="*{__${attr['name']}__}"
						   	th:placeholder="${attr['name']}"/>
				</p>
				<p>
					<label th:text="#{application.searchSize}" for=""/>
	
					<input type="text" class="input-mini search-query" 
							id="pageSize" name="model_query_pageable.pageSize" 
							th:value="${model_query_pageable.pageSize}" 
							placeholder="Display Row Size"/>
					<button type="submit" class="btn" th:text="#{application.search}"/>	
					<button type="reset" class="btn" th:text="#{application.reset}"/>	
				</p>
			</form>


			<table class="table table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th th:if="${attr['listable']}" th:each="attr : ${model_information.getEntityAttributes()}">
							<span th:text="${attr['name']}"></span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="entity, idx : ${model_query_result.content}">
						<td th:if="${attr['listable']}" th:each="attr : ${model_information.getEntityAttributes()}">
							<a th:if="${attr['id']}" th:text="${entity['__${attr['name']}__']}" 
								th:href="@{ ${model_information.getTopLevelMapping()} +'/'+${model_information.getEntityPath(entity)}+${command_extension} }"/>
							<span th:unless="${attr['id']}" th:text="${entity['__${attr['name']}__']}"/>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="row-fluid">
				<div class="span6">
					<span th:if="${model_query_result.totalPages == 0}" th:text="(${model_query_result.number})+'/'+${model_query_result.totalPages}+' page, total '+ ${model_query_result.totalElements}+' row(s)'"/>
					<span th:if="${model_query_result.totalPages != 0}" th:text="(${model_query_result.number}+1)+'/'+${model_query_result.totalPages}+' page, total '+ ${model_query_result.totalElements}+' row(s)'"/>
				</div>
				<div class="span6">
					<div class="pagination pagination-mini">
						<ul>
							<li th:class="${! model_query_result.hasPreviousPage()} ? 'disabled' : ''">
								<a th:if="${! model_query_result.hasPreviousPage()}" href="#" th:text="'&lt;&lt;'"/>
								<a th:if="${  model_query_result.hasPreviousPage()}" href="#" th:text="'&lt;&lt;'" 
								th:onclick="'javascript:$(\'#pageNumber\').val(0);$(\'#queryForm\').submit();'"/>
							</li>
							<li th:class="${! model_query_result.hasPreviousPage()} ? 'disabled' : ''">
								<a th:if="${! model_query_result.hasPreviousPage()}" href="#" th:text="'&lt;'"/>
								<a th:if="${  model_query_result.hasPreviousPage()}" href="#" th:text="'&lt;'"
								th:onclick="'javascript:$(\'#pageNumber\').val('+${model_query_result.number - 1}+');$(\'#queryForm\').submit();'"/>
							</li>
							<li th:each="no : ${#numbers.sequence(model_query_result.beginIndex , model_query_result.endIndex , 1 )}" th:class="${no == model_query_result.number + 1} ? 'active' : ''">
								<a th:if="${no == model_query_result.number + 1}" href="#" th:text="${no}"/>
								<a th:if="${no != model_query_result.number + 1}" href="#" th:text="${no}"  
								th:onclick="'javascript:$(\'#pageNumber\').val('+${ no - 1}+');$(\'#queryForm\').submit();'"/>	
							</li>
							<li th:class="${! model_query_result.hasNextPage()} ? 'disabled' : ''">
								<a th:if="${! model_query_result.hasNextPage()}" href="#" th:text="'&gt;'"/>
								<a th:if="${  model_query_result.hasNextPage()}" href="#" th:text="'&gt;'"
								th:onclick="'javascript:$(\'#pageNumber\').val('+${model_query_result.number + 1}+');$(\'#queryForm\').submit();'"/>
							</li>
							<li th:class="${! model_query_result.hasNextPage()} ? 'disabled' : ''">
								<a th:if="${! model_query_result.hasNextPage()}" href="#" th:text="'&gt;&gt;'"/>
								<a th:if="${  model_query_result.hasNextPage()}" href="#" th:text="'&gt;&gt;'"
								th:onclick="'javascript:$(\'#pageNumber\').val('+${model_query_result.totalPages - 1}+');$(\'#queryForm\').submit();'"/>
							</li>
						</ul>
					</div>
				</div>
			</div>


        </div><!--/span9-->
      </div><!--/row-->

      <hr/>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-transition.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-alert.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-modal.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tab.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-popover.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-button.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-collapse.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-carousel.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
