<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	
	<form class="form-horizontal border-example" id="queryForm" th:action="@{${command_path}}+${command_extension}">
		<legend>
			<a class="btn btn-primary" href="#" th:onclick="'requestList(\''+@{${command_path}}+${command_extension}+'\')'" th:text="#{application.listButton}"></a>	
			<a class="btn btn-primary" href="#" th:onclick="'requestEdit(\''+  @{${command_path}}+'/new'+${command_extension} +'\')'" th:text="#{application.newButton}"></a>
			<p class="pull-right" th:text="${T(org.springframework.util.ClassUtils).getShortNameAsProperty(model_query.getClass())}+' '+${command_method}+' page'"></p>
		</legend>
		

		<div class="control-group">
			<div class="input-prepend input-append">
				<span class="add-on">PageNumber</span>
				<input type="text" class="input-mini" id="pageNumber" name="model_query_pageable.pageNumber" th:value="${model_query_pageable.pageNumber}"/>
				<span class="add-on">PageSize</span>
				<input type="text" class="input-mini" id="pageSize" name="model_query_pageable.pageSize" th:value="${model_query_pageable.pageSize}"/>
				<span class="add-on">PageRange</span>
				<input type="text" class="input-mini" id="pageRange" name="model_query_pageable.pageRange" th:value="${model_query_pageable.pageRange}"/>
				<input type="submit" class="btn" th:value="#{application.listButton}"/>	
			</div>
		</div>

		<div>
			<p th:text="(${model_query_result.number}+1)+'/'+${model_query_result.totalPages}+' page, total '+ ${model_query_result.totalElements}+' row(s)'"></p>
		</div>


		<table class="table table-hover table-bordered table-condensed">
			<thead>
				<tr>
					<th th:each="attr, idx : ${model_entity_metamodel.attributes}">

						<div class="btn-group" th:if="${#lists.isEmpty(model_query_pageable.sortOrders)}">

							<input type="hidden" th:name="'model_query_pageable.sortOrders['+${idx.index}+'].property'" th:value="${attr['name']}"/>
							<input type="hidden" th:id="'order'+${idx.index}" 
												 th:name="'model_query_pageable.sortOrders['+${idx.index}+'].direction'"
												 value="0"/>


							<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
								<span th:text="${attr['name']}"/> 
								<i class="icon-minus"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#" th:onclick="'orderAction('+${idx.index}+' , 0)'"><i class="icon-minus"></i> None</a></li>
								<li><a href="#" th:onclick="'orderAction('+${idx.index}+' , 1)'"><i class="icon-chevron-up"></i> Asc</a></li>
								<li><a href="#" th:onclick="'orderAction('+${idx.index}+' , -1)'"><i class="icon-chevron-down"></i> Desc</a></li>
							</ul>
						</div>

						<div class="btn-group" th:if="${#lists.size(model_query_pageable.sortOrders)} > ${idx.index}">
						
							<input type="hidden" th:name="'model_query_pageable.sortOrders['+${idx.index}+'].property'" th:value="${attr['name']}"/>
							<input type="hidden" th:id="'order'+${idx.index}" 
												 th:name="'model_query_pageable.sortOrders['+${idx.index}+'].direction'"
												 th:value="${model_query_pageable.sortOrders[__${idx.index}__].direction}"/>


							<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#" th:switch="${model_query_pageable.sortOrders[__${idx.index}__].direction}">
								<span th:text="${attr['name']}"/> 
								<i th:case="'0'" class="icon-minus"></i>
								<i th:case="'1'" class="icon-chevron-up"></i>
								<i th:case="'-1'" class="icon-chevron-down"></i>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#" th:onclick="'orderAction('+${idx.index}+' , 0)'"><i class="icon-minus"></i> None</a></li>
								<li><a href="#" th:onclick="'orderAction('+${idx.index}+' , 1)'"><i class="icon-chevron-up"></i> Asc</a></li>
								<li><a href="#" th:onclick="'orderAction('+${idx.index}+' , -1)'"><i class="icon-chevron-down"></i> Desc</a></li>
							</ul>

						</div>


						
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="entity, idx : ${model_query_result.content}">

					<td th:switch="${attr['persistanceType']}" th:each="attr, idx : ${model_entity_metamodel.attributes}" >

						<a th:case="'Id'" href="#" th:onclick="'requestEdit(\''+@{${command_path}+'/'+${beans['__${T(org.springframework.util.ClassUtils).getShortNameAsProperty(model_entity_metamodel.getQueryClass())}+'Metamodel'__'].getIdentityUri(entity)}+'/edit'+${command_extension}}+'\')'">
							<span th:text="${entity['__${attr['name']}__']}"/>
						</a>
						<a th:case="'EmbeddedId'" href="#" th:onclick="'requestEdit(\''+@{${command_path}+'/'+${beans['__${T(org.springframework.util.ClassUtils).getShortNameAsProperty(model_entity_metamodel.getQueryClass())}+'Metamodel'__'].getIdentityUri(entity)}+'/edit'+${command_extension}}+'\')'">
							<span th:text="${entity['__${attr['name']}__']}"/>
						</a>
						<span th:case="'ManyToOne'" th:text="${entity['__${attr['name']}__']}"/>
						<span th:case="'OneToMany'" th:text="${entity['__${attr['name']}__']}"/>
						<span th:case="'Basic'" th:text="${entity['__${attr['name']}__']}"/>
					</td>

				</tr>
				
			</tbody>
		</table>
		
		
		
		<div class="pagination pagination-mini  pagination-centered">
			<ul>
				<li th:if="${model_query_result.previousPage != -1}">
					<a href="#" th:onclick="'pageAction('+${model_query_result.previousPage}+')'">Prev</a>	
				</li>
				<li th:each="no : ${#numbers.sequence(model_query_result.beginPage ,model_query_result.endPage)}" th:class="${no == model_query_result.number} ? 'active' : ''">
					<a href="#" th:onclick="'pageAction('+${no}+')'" th:text="${no}+1"  />	
				</li>
				<li th:if="${model_query_result.nextPage != -1}">
					<a href="#" th:onclick="'pageAction('+${model_query_result.nextPage}+')'">Next</a>	
				</li>
			</ul>
		</div>

	</form>

</html>
