<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="#{application.title}">SPRINGFIELD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Brinicle Service Platform"/>
    <meta name="author" content=""/>
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"/>
	<meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE"/>   

    <!--[if lt IE 9]>
	<script type="text/javascript" src="https://github.com/aFarkas/html5shiv/blob/master/dist/html5shiv.js"></script>
    <![endif]-->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"/>
	<script type="text/javascript" src="http://malsup.github.com/jquery.form.js"/>
	<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"/>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet"/>
 
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 10px 0;
      }
	.border-example {
	  position: relative;
	  margin: 2px 0;
	  padding: 10px 10px 10px 10px;
	  *padding-top: 10px;
	  background-color: #fff;
	  border: 1px solid #ddd;
	  -webkit-border-radius: 4px;
	     -moz-border-radius: 4px;
	          border-radius: 4px;
	}    
	
	.tight-example {
		margin: 0;
		padding: 0;
	}	
	
	  
.footer {
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  margin-right: 10px;
}	
	
    </style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	  	<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" th:href="@{/}"  th:text="#{application.title}"></a>
				
				<div class="btn-group pull-right">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i> 홍길동 
						<span class="caret"></span>
					</a>
				
					<ul class="dropdown-menu">
						<li>
							<a href="#" th:text="#{application.changePassword}"></a>
						</li>
						<li>
							<a href="#" th:text="#{application.userManagement}"></a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#" th:text="#{application.logout}"></a>
						</li>
					</ul>
				</div>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li th:class="${#httpServletRequest.getRequestURI().contains(n1.path)} ? 'active'" th:each="n1 : ${#root['application']['com.u2ware.springfield.controller.HandlerMappingNavigation'].childs}">
							<a th:href="@{${n1.link}}" th:text="${n1.title}"/>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<div class="sidebar-nav border-example" th:unless="${! #httpServletRequest.getRequestURI().contains(n1.path)}"  th:each="n1 : ${#root['application']['com.u2ware.springfield.controller.HandlerMappingNavigation'].childs}">
					
					<ul class="nav nav-list" th:each="n2 : ${n1.childs}">

						<li th:if="${#lists.isEmpty(n2.childs)}" th:class="${#httpServletRequest.getRequestURI().endsWith(n2.path)} ? 'active'">
							<a th:href="@{${n2.link}}" th:text="${n2.title}"/>
						</li>
						
						<!-- <li th:unless="${#lists.isEmpty(n2.childs)}" class="divider"/> -->
						<li th:unless="${#lists.isEmpty(n2.childs)}" th:text="${n2.title}" class="nav-header">
						</li>

						<li th:unless="${#lists.isEmpty(n2.childs)}" th:each="n3 : ${n2.childs}" th:class="${#httpServletRequest.getRequestURI().endsWith(n3.path)} ? 'active'">
							<a th:href="@{${n3.link}}" th:text="${n3.title}"/>
						</li>
					</ul>
				</div><!--/.well sidebar-nav -->
			</div><!--/.span2-->

			<div class="span10">
				<div class="row-fluid">
					<form class="form-horizontal border-example" id="queryForm">
						<legend>
							<a class="btn btn-primary" th:href="@{${command_path}+${command_extension}}" th:text="#{application.listButton}">List</a>	
							<a class="btn btn-primary" th:href="@{${command_path}+'/new'+${command_extension}}" th:text="#{application.newButton}">New</a>	
							<p class="pull-right" th:text="${T(org.springframework.util.ClassUtils).getShortNameAsProperty(model_query.getClass())}+' '+${command_method}+' page'"></p>
						</legend>


						<div class="control-group">
							<div class="input-prepend input-append">
								<span class="add-on">PageNumber</span>
								<input type="text" class="input-mini" id="pageNumber" name="model_query_pageable.pageNumber" th:value="${model_query_pageable.pageNumber}"/>
								<span class="add-on">PageSize</span>
								<input type="text" class="input-mini" id="pageSize" name="model_query_pageable.pageSize" th:value="${model_query_pageable.pageSize}"/>
								<input type="submit" class="btn" th:value="#{application.listButton}"/>	
							</div>
						</div>

						<div>
							<p th:text="(${model_query_result.number}+1)+'/'+${model_query_result.totalPages}+' page, total '+ ${model_query_result.totalElements}+' row(s)'"></p>
						</div>

						<table class="table table-hover table-bordered table-condensed">
							<thead>
								<tr>
									<th th:each="attr, idx : ${model_entity_metamodel.attributes}">

										<div class="btn-group" th:if="${#lists.isEmpty(model_query_pageable.sortOrders)}">

											<input type="hidden" th:name="'model_query_pageable.sortOrders['+${idx.index}+'].property'" th:value="${attr['name']}"/>
											<input type="hidden" th:id="'order'+${idx.index}" 
																 th:name="'model_query_pageable.sortOrders['+${idx.index}+'].direction'"
																 value="0"/>


											<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
												<span th:text="${attr['name']}"/> 
												<i class="icon-minus"></i>
											</a>
											<ul class="dropdown-menu">
												<li><a href="#" th:onclick="'orderAction('+${idx.index}+' , 0)'"><i class="icon-minus"></i> None</a></li>
												<li><a href="#" th:onclick="'orderAction('+${idx.index}+' , 1)'"><i class="icon-chevron-up"></i> Asc</a></li>
												<li><a href="#" th:onclick="'orderAction('+${idx.index}+' , -1)'"><i class="icon-chevron-down"></i> Desc</a></li>
											</ul>
										</div>

										<div class="btn-group" th:if="${#lists.size(model_query_pageable.sortOrders)} > ${idx.index}">
										
											<input type="hidden" th:name="'model_query_pageable.sortOrders['+${idx.index}+'].property'" th:value="${attr['name']}"/>
											<input type="hidden" th:id="'order'+${idx.index}" 
																 th:name="'model_query_pageable.sortOrders['+${idx.index}+'].direction'"
																 th:value="${model_query_pageable.sortOrders[__${idx.index}__].direction}"/>


											<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#" th:switch="${model_query_pageable.sortOrders[__${idx.index}__].direction}">
												<span th:text="${attr['name']}"/> 
												<i th:case="'0'" class="icon-minus"></i>
												<i th:case="'1'" class="icon-chevron-up"></i>
												<i th:case="'-1'" class="icon-chevron-down"></i>
											</a>
											<ul class="dropdown-menu">
												<li><a href="#" th:onclick="'orderAction('+${idx.index}+' , 0)'"><i class="icon-minus"></i> None</a></li>
												<li><a href="#" th:onclick="'orderAction('+${idx.index}+' , 1)'"><i class="icon-chevron-up"></i> Asc</a></li>
												<li><a href="#" th:onclick="'orderAction('+${idx.index}+' , -1)'"><i class="icon-chevron-down"></i> Desc</a></li>
											</ul>

										</div>


										
									</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="entity, idx : ${model_query_result.content}">

									<td th:switch="${attr['persistanceType']}" th:each="attr, idx : ${model_entity_metamodel.attributes}"  >

										<a th:case="'Id'" th:href="@{${command_path}+'/'+${beans['__${T(org.springframework.util.ClassUtils).getShortNameAsProperty(model_entity_metamodel.getQueryClass())}+'Metamodel'__'].getIdentityUri(entity)}+'/edit'+${command_extension}}">
											<span th:text="${entity['__${attr['name']}__']}"/>
											<!-- 
											<p th:text="${T(java.lang.Math).random()}"/> 
											<p th:text="${T(org.springframework.util.ClassUtils).getShortNameAsProperty(entity.getClass())}+'Metamodel'"/>
											<p th:text="${beans.pagingAndOrderingMetamodel}"/>
											<p th:text="${beans['pagingAndOrderingMetamodel']}"/>
											<p th:text="${beans['__${T(org.springframework.util.ClassUtils).getShortNameAsProperty(entity.getClass())}+'Metamodel'__']}"/>
											<p th:text="${beans['__${T(org.springframework.util.ClassUtils).getShortNameAsProperty(entity.getClass())}+'Metamodel'__'].createIdPath(entity)}"/>
											<p th:text="@{${command_path}+'/'+${beans['__${T(org.springframework.util.ClassUtils).getShortNameAsProperty(entity.getClass())}+'Metamodel'__'].createIdPath(entity)}+'/edit'+${command_extension}}"/>
											-->
										</a>
										<a th:case="'EmbeddedId'" th:href="@{${command_path}+'/'+${beans['__${T(org.springframework.util.ClassUtils).getShortNameAsProperty(model_entity_metamodel.getQueryClass())}+'Metamodel'__'].getIdentityUri(entity)}+'/edit'+${command_extension}}">
											<span th:text="${entity['__${attr['name']}__']}"/>
										</a>
										<span th:case="'ManyToOne'" th:text="${entity['__${attr['name']}__']}"/>
										<span th:case="'OneToMany'" th:text="${entity['__${attr['name']}__']}"/>
										<span th:case="'Basic'" th:text="${entity['__${attr['name']}__']}"/>
									</td>

									<!--  	
									th:onclick="'document.location.href=\''+@{${command_path}+'/'+'change.......'+'/edit'+${command_extension} }+'\''"
									
									<td th:switch="${attr['displayType']}" th:if="${attr['displayList']}" th:each="attr, idx : ${model_entity_metamodel.attributes}">
										<span th:case="'BASIC'" th:text="${entity['__${attr['name']}__']}"/>
										<span th:case="'NUMBER'" th:text="${entity['__${attr['name']}__']}"/>
										<span th:case="'DATETIME'" th:text="${entity['__${attr['name']}__']}"/>
										<span th:case="'RADIO'" th:text="${entity['__${attr['name']}__']}"/>
										<span th:case="'FILE'" th:text="${entity['__${attr['name']}__']}"/>
										<span th:case="'MANY_TO_ONE'" th:text="${entity['__${attr['name']}__']}"/>
										<span th:case="'ONE_TO_ONE'" th:text="${entity['__${attr['name']}__']}"/>
										<span th:case="'ONE_TO_MANY'" th:text="${entity['__${attr['name']}__']}"/>
										<span th:case="'MANY_TO_MANY'" th:text="${entity['__${attr['name']}__']}"/>
									</td>
									-->
								</tr>
							</tbody>
						</table>
						
						<div class="pagination pagination-mini  pagination-centered">
							<ul>
								<li th:if="${model_query_result.previousPage != -1}">
									<a href="#" th:onclick="'pageAction('+${model_query_result.previousPage}+')'">Prev</a>	
								</li>
								<li th:each="no : ${#numbers.sequence(model_query_result.beginPage ,model_query_result.endPage)}" th:class="${no == model_query_result.number} ? 'active' : ''">
									<a href="#" th:onclick="'pageAction('+${no}+')'" th:text="${no}+1"  />	
								</li>
								<li th:if="${model_query_result.nextPage != -1}">
									<a href="#" th:onclick="'pageAction('+${model_query_result.nextPage}+')'">Next</a>	
								</li>
							</ul>
						</div>

						
					</form>
					
					
				</div><!--/.row-fluid-->
			</div><!--/.span10-->
		</div><!--/.row-fluid-->
	</div><!--/.container-fluid-->



	<footer class="footer">
		<div class="container ">
			<p class="pull-right"><a href="#" th:text="#{application.backToTop}"></a></p>
			<p th:text="${#httpServletRequest.getRequestURI()}"></p>
		</div>
	</footer>
	
</body>
<script th:inline="javascript">
/*<![CDATA[*/
function pageAction(page){
	$('#pageNumber').val(page);
	$('#queryForm').submit();
}

function orderAction(orderNo, newValue){
	$('#order'+orderNo).val(newValue);
	$('#queryForm').submit();
}


/*]]>*/</script>


</html>
