<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title th:text="#{application.title}">SPRINGFIELD</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Brinicle Service Platform"/>
    <meta name="author" content=""/>
    <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"/>
	<meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE"/>   

    <!--[if lt IE 9]>
	<script type="text/javascript" src="https://github.com/aFarkas/html5shiv/blob/master/dist/html5shiv.js"></script>
    <![endif]-->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"/>
	<script type="text/javascript" src="http://malsup.github.com/jquery.form.js"/>
	<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap.min.js"/>
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet"/>
 
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 10px 0;
      }
	.border-example {
	  position: relative;
	  margin: 2px 0;
	  padding: 10px 10px 10px 10px;
	  *padding-top: 10px;
	  background-color: #fff;
	  border: 1px solid #ddd;
	  -webkit-border-radius: 4px;
	     -moz-border-radius: 4px;
	          border-radius: 4px;
	}    
	
	.tight-example {
		margin: 0;
		padding: 0;
	}	
	
	  
.footer {
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  margin-right: 10px;
}	
	
    </style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
	  	<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" th:href="@{/}"  th:text="#{application.title}"></a>
				
				<div class="btn-group pull-right">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i> 홍길동 
						<span class="caret"></span>
					</a>
				
					<ul class="dropdown-menu">
						<li>
							<a href="#" th:text="#{application.changePassword}"></a>
						</li>
						<li>
							<a href="#" th:text="#{application.userManagement}"></a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#" th:text="#{application.logout}"></a>
						</li>
					</ul>
				</div>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li th:class="${#httpServletRequest.getRequestURI().contains(n1.path)} ? 'active'" th:each="n1 : ${#root['application']['com.u2ware.springfield.controller.HandlerMappingNavigation'].childs}">
							<a th:href="@{${n1.link}}" th:text="${n1.title}"/>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span2">
				<div class="sidebar-nav border-example" th:unless="${! #httpServletRequest.getRequestURI().contains(n1.path)}"  th:each="n1 : ${#root['application']['com.u2ware.springfield.controller.HandlerMappingNavigation'].childs}">
					
					<ul class="nav nav-list" th:each="n2 : ${n1.childs}">

						<li th:if="${#lists.isEmpty(n2.childs)}" th:class="${#httpServletRequest.getRequestURI().endsWith(n2.path)} ? 'active'">
							<a th:href="@{${n2.link}}" th:text="${n2.title}"/>
						</li>
						
						<!-- <li th:unless="${#lists.isEmpty(n2.childs)}" class="divider"/> -->
						<li th:unless="${#lists.isEmpty(n2.childs)}" th:text="${n2.title}" class="nav-header">
						</li>

						<li th:unless="${#lists.isEmpty(n2.childs)}" th:each="n3 : ${n2.childs}" th:class="${#httpServletRequest.getRequestURI().endsWith(n3.path)} ? 'active'">
							<a th:href="@{${n3.link}}" th:text="${n3.title}"/>
						</li>
					</ul>
				</div><!--/.well sidebar-nav -->
			</div><!--/.span2-->

			<div class="span10">
				<div class="row-fluid">	
				
					<form id="entity" name="entity" enctype="multipart/form-data" class="form-horizontal border-example" th:action="@{ ${'createForm' == command_method} ? ${command_path}+'/new'+${command_extension} : ${command_path}+'/'+${command_id}+'/edit'+${command_extension}  }" th:object="${model_entity}" method="post"  >
						<legend>
							<a class="btn btn-primary" th:href="@{${command_path}+${command_extension}}" th:text="#{application.listButton}">List</a>	
							<a class="btn btn-primary" th:href="@{${command_path}+'/new'+${command_extension}}" th:text="#{application.newButton}">New</a>	
							<p class="pull-right" th:text="${T(org.springframework.util.ClassUtils).getShortNameAsProperty(model_entity.getClass())}+' '+${command_method}+' page'"></p>
						</legend>
					
						<input type="hidden" name="_method" th:value="${'createForm' == command_method} ? 'post' : 'put' "/>	
					
					
						
						<div th:each="attr : ${model_entity_metamodel.attributes}">
						
							<div th:if="${attr['persistanceType'] == 'Id' and attr['displayType'] == 'Nomal'}" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'"> 
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<input type="text" th:field="*{__${attr['name']}__}" th:readonly="${'createForm' != command_method} ? 'readonly'"/>
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
							<div th:if="${attr['persistanceType'] == 'Id' and attr['displayType'] == 'Radio'}" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'">
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<label class="radio inline" th:each="r : ${attr['displayOption']}">
										<input type="radio" th:field="*{__${attr['name']}__}" th:value="${r}" th:text="${r}" th:readonly="${'createForm' != command_method} ? 'readonly'"/>
									</label>
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
							<div th:if="${attr['persistanceType'] == 'Id' and attr['displayType'] == 'File'}" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'">
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<input type="file" th:field="*{__${attr['name']}__}"  th:readonly="${'createForm' != command_method} ? 'readonly'"/>
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
							<div th:if="${attr['persistanceType'] == 'Id' and attr['displayType'] == 'Number'}" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'">
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<input type="number" th:field="*{__${attr['name']}__}" th:readonly="${'createForm' != command_method} ? 'readonly'"/>
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
							<div th:if="${attr['persistanceType'] == 'Id' and attr['displayType'] == 'Datetime'}" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'">
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<input type="date" th:field="*{__${attr['name']}__}" th:readonly="${'createForm' != command_method} ? 'readonly'"/>
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
						
						
						
							<div th:if="${attr['persistanceType'] == 'EmbeddedId'}" >
								<div th:each="childAttr : ${attr.persistanceRelationship.attributes}">


									<div th:if="${childAttr['displayType'] == 'Nomal'}" th:class="( ${#fields.hasErrors('__${attr['name']}__')} or ${#fields.hasErrors('__${attr['name']}+'.'+${childAttr['name']}__')} ) ? 'control-group error' : 'control-group'"> 
										<label class="control-label" th:for="${attr['name']}+'.'+${childAttr['name']}" th:text="${attr['name']}+'.'+${childAttr['name']}"/>
										<div class="controls" >
											<input type="text" th:field="*{__${attr['name']}+'.'+${childAttr['name']}__}" th:readonly="${'createForm' != command_method} ? 'readonly'"/>
											<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
											<span class="help-inline" th:errors="*{__${attr['name']}+'.'+${childAttr['name']}__}"></span>
										</div>
									</div>
									<div th:if="${childAttr['displayType'] == 'Radio'}" th:class="( ${#fields.hasErrors('__${attr['name']}__')} or ${#fields.hasErrors('__${attr['name']}+'.'+${childAttr['name']}__')} ) ? 'control-group error' : 'control-group'">
										<label class="control-label" th:for="${attr['name']}+'.'+${childAttr['name']}" th:text="${attr['name']}+'.'+${childAttr['name']}"/>
										<div class="controls" >
											<label class="radio inline" th:each="r : ${attr['displayOption']}">
												<input type="radio" th:field="*{__${attr['name']}+'.'+${childAttr['name']}__}" th:value="${r}" th:text="${r}" th:readonly="${'createForm' != command_method} ? 'readonly'"/>
											</label>
											<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
											<span class="help-inline" th:errors="*{__${attr['name']}+'.'+${childAttr['name']}__}"></span>
										</div>
									</div>
									<div th:if="${childAttr['displayType'] == 'File'}" th:class="( ${#fields.hasErrors('__${attr['name']}__')} or ${#fields.hasErrors('__${attr['name']}+'.'+${childAttr['name']}__')} ) ? 'control-group error' : 'control-group'">
										<label class="control-label" th:for="${attr['name']}+'.'+${childAttr['name']}" th:text="${attr['name']}+'.'+${childAttr['name']}"/>
										<div class="controls" >
											<input type="file" th:field="*{__${attr['name']}+'.'+${childAttr['name']}__}"  th:readonly="${'createForm' != command_method} ? 'readonly'"/>
											<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
											<span class="help-inline" th:errors="*{__${attr['name']}+'.'+${childAttr['name']}__}"></span>
										</div>
									</div>
									<div th:if="${childAttr['displayType'] == 'Number'}" th:class="( ${#fields.hasErrors('__${attr['name']}__')} or ${#fields.hasErrors('__${attr['name']}+'.'+${childAttr['name']}__')} ) ? 'control-group error' : 'control-group'">
										<label class="control-label" th:for="${attr['name']}+'.'+${childAttr['name']}" th:text="${attr['name']}+'.'+${childAttr['name']}"/>
										<div class="controls" >
											<input type="number" th:field="*{__${attr['name']}+'.'+${childAttr['name']}__}" th:readonly="${'createForm' != command_method} ? 'readonly'"/>
											<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
											<span class="help-inline" th:errors="*{__${attr['name']}+'.'+${childAttr['name']}__}"></span>
										</div>
									</div>
									<div th:if="${childAttr['displayType'] == 'Datetime'}" th:class="( ${#fields.hasErrors('__${attr['name']}__')} or ${#fields.hasErrors('__${attr['name']}+'.'+${childAttr['name']}__')} ) ? 'control-group error' : 'control-group'">
										<label class="control-label" th:for="${attr['name']}+'.'+${childAttr['name']}" th:text="${attr['name']}+'.'+${childAttr['name']}"/>
										<div class="controls" >
											<input type="date" th:field="*{__${attr['name']}+'.'+${childAttr['name']}__}" th:readonly="${'createForm' != command_method} ? 'readonly'"/>
											<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
											<span class="help-inline" th:errors="*{__${attr['name']}+'.'+${childAttr['name']}__}"></span>
										</div>
									</div>


								</div>
							</div>


							<div th:if="${attr['persistanceType'] == 'ManyToOne'}"> 
							
								<div th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'"> 
									<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
									<div class="controls" >
										<input type="text" th:field="*{__${attr['name']}__}" th:readonly="'readonly'"/>
										<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								
								    	<button type="button" class="btn" th:text="#{application.saveButton}">Save</button>
										
									</div>
								</div>
								
								

							</div>
							<div th:if="${attr['persistanceType'] == 'OneToMany'}"> 
								OneToMany
							</div>
								
								
								
							<div th:if="${attr['persistanceType'] == 'Basic' and attr['displayType'] == 'Nomal'}" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'"> 
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<input type="text" th:field="*{__${attr['name']}__}"/>
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
							<div th:if="${attr['persistanceType'] == 'Basic' and attr['displayType'] == 'Radio'}" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'">
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<label class="radio inline" th:each="r : ${attr['displayOption']}">
										<input type="radio" th:field="*{__${attr['name']}__}" th:value="${r}" th:text="${r}"/>
									</label>
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
							<div th:if="${attr['persistanceType'] == 'Basic' and attr['displayType'] == 'File'}" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'">
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<input type="file" th:field="*{__${attr['name']}__}"  />
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
							<div th:if="${attr['persistanceType'] == 'Basic' and attr['displayType'] == 'Number'}" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'">
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<input type="number" th:field="*{__${attr['name']}__}" />
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
							<div th:if="${attr['persistanceType'] == 'Basic' and attr['displayType'] == 'Datetime'}" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'">
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<input type="date" th:field="*{__${attr['name']}__}"/>
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>

						</div>
					
						<!--  
						<div th:switch="${attr.displayType}"  th:each="attr : ${model_entity_metamodel.attributes}">
					
							<div th:case="'Nomal'" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'" >
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<input type="text" th:field="*{__${attr['name']}__}" th:readonly=" (${attr['id']}  and  ${'createForm' != command_method}) ? 'readonly'" />
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
							<div th:case="'NumberFormat'" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'" >
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<input type="number" th:field="*{__${attr['name']}__}" th:readonly=" (${attr['id']}  and  ${'createForm' != command_method}) ? 'readonly'" />
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
							<div th:case="'DateTimeFormat'" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'" >
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<input type="date" th:field="*{__${attr['name']}__}" th:readonly=" (${attr['id']}  and  ${'createForm' != command_method}) ? 'readonly'" />
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
							<div th:case="'Radio'" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'" >
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<label class="radio inline" th:each="r : ${attr['displayOption']}">
										<input type="radio" th:field="*{__${attr['name']}__}" th:value="${r}" th:text="${r}"/>
									</label>
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
							<div th:case="'File'" th:class="${#fields.hasErrors('__${attr['name']}__')} ? 'control-group error' : 'control-group'" >
								<label class="control-label" th:for="${attr['name']}" th:text="${attr['name']}"/>
								<div class="controls" >
									<input type="file" th:field="*{__${attr['name']}__}"  />
									<span class="help-inline" th:errors="*{__${attr['name']}__}"></span>
								</div>
							</div>
						</div>
					-->
					
						<div class="control-group">
							<hr/>
					    	<button type="submit" class="btn" th:text="#{application.saveButton}">Save</button>
					    	<button th:unless="${'updateForm' != command_method}" type="submit" class="btn" onclick="this.form['_method'].value = 'DELETE'; alert(this.form['_method'].value)" th:text="#{application.deleteButton}">Delete</button>
					    	<button type="reset" class="btn" th:text="#{application.resetButton}">Reset</button>
						</div>
					</form>
				</div><!--/.row-fluid-->
			</div><!--/.span10-->
		</div><!--/.row-fluid-->
	</div><!--/.container-fluid-->

	<footer class="footer">
		<div class="container ">
			<p class="pull-right"><a href="#" th:text="#{application.backToTop}"></a></p>
			<p th:text="${#httpServletRequest.getRequestURI()}"></p>
		</div>
	</footer>
</body>
</html>
