<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} # %method [%line] - %msg%n</Pattern>
		</layout>
	</appender>


	<logger name="org.thymeleaf" level="OFF" />
	<logger name="org.hibernate.SQL" level="DEBUG" />
	<logger name="org.mybatis" level="OFF" />
	<logger name="org.springframework" level="OFF" /> 
	<logger name="org.springframework.transaction" level="OFF" />
	<logger name="org.springframework.orm" level="OFF" />
	<logger name="org.springframework.data" level="OFF" />
	<logger name="org.springframework.security" level="OFF" />
	
	<logger name="org.apache.tiles" level="DEBUG" />
	<logger name="org.springframework.web.servlet.view.tiles2" level="DEBUG" />

	<logger name="com.u2ware.springfield" level="DEBUG" />

	<root level="OFF">
		<appender-ref ref="STDOUT" />
	</root>
	
</configuration>

<!-- 

01:33:21 [main] DEBUG o.h.transaction.JDBCTransaction # commit [130] - commit
01:33:21 [main] TRACE org.hibernate.impl.SessionImpl # managedFlush [382] - automatically flushing session
01:33:21 [main] TRACE org.hibernate.jdbc.JDBCContext # beforeTransactionCompletion [249] - before transaction completion
01:33:21 [main] TRACE org.hibernate.impl.SessionImpl # beforeTransactionCompletion [570] - before transaction completion
01:33:21 [main] DEBUG o.h.transaction.JDBCTransaction # toggleAutoCommit [223] - re-enabling autocommit
01:33:21 [main] DEBUG o.h.transaction.JDBCTransaction # commit [143] - committed JDBC Connection
01:33:21 [main] TRACE org.hibernate.jdbc.JDBCContext # afterTransactionCompletion [263] - after transaction completion
01:33:21 [main] DEBUG org.hibernate.jdbc.ConnectionManager # aggressiveRelease [427] - aggressively releasing JDBC connection
01:33:21 [main] DEBUG org.hibernate.jdbc.ConnectionManager # closeConnection [464] - releasing JDBC connection [ (open PreparedStatements: 0, globally: 0) (open ResultSets: 0, globally: 0)]
01:33:21 [main] TRACE org.hibernate.impl.SessionImpl # afterTransactionCompletion [600] - after transaction completion
01:33:21 [main] TRACE org.hibernate.impl.SessionImpl # close [318] - closing session


01:39:47 [main] DEBUG o.h.transaction.JDBCTransaction # commit [130] - commit
01:39:47 [main] TRACE org.hibernate.impl.SessionImpl # managedFlush [382] - automatically flushing session
01:39:47 [main] TRACE org.hibernate.jdbc.JDBCContext # beforeTransactionCompletion [249] - before transaction completion
01:39:47 [main] TRACE org.hibernate.impl.SessionImpl # beforeTransactionCompletion [570] - before transaction completion
01:39:47 [main] DEBUG o.h.transaction.JDBCTransaction # toggleAutoCommit [223] - re-enabling autocommit
01:39:47 [main] DEBUG o.h.transaction.JDBCTransaction # commit [143] - committed JDBC Connection
01:39:47 [main] TRACE org.hibernate.jdbc.JDBCContext # afterTransactionCompletion [263] - after transaction completion
01:39:47 [main] DEBUG org.hibernate.jdbc.ConnectionManager # aggressiveRelease [427] - aggressively releasing JDBC connection
01:39:47 [main] DEBUG org.hibernate.jdbc.ConnectionManager # closeConnection [464] - releasing JDBC connection [ (open PreparedStatements: 0, globally: 0) (open ResultSets: 0, globally: 0)]
01:39:47 [main] TRACE org.hibernate.impl.SessionImpl # afterTransactionCompletion [600] - after transaction completion
01:39:47 [main] TRACE org.hibernate.impl.SessionImpl # close [318] - closing session













01:34:14 [main] DEBUG o.h.transaction.JDBCTransaction # commit [130] - commit
01:34:14 [main] TRACE org.hibernate.impl.SessionImpl # managedFlush [382] - automatically flushing session
01:34:14 [main] TRACE org.hibernate.jdbc.JDBCContext # beforeTransactionCompletion [249] - before transaction completion
01:34:14 [main] TRACE org.hibernate.impl.SessionImpl # beforeTransactionCompletion [570] - before transaction completion
01:34:14 [main] DEBUG o.h.transaction.JDBCTransaction # toggleAutoCommit [223] - re-enabling autocommit
01:34:14 [main] DEBUG o.h.transaction.JDBCTransaction # commit [143] - committed JDBC Connection
01:34:14 [main] TRACE org.hibernate.jdbc.JDBCContext # afterTransactionCompletion [263] - after transaction completion
01:34:14 [main] DEBUG org.hibernate.jdbc.ConnectionManager # afterTransaction [325] - transaction completed on session with on_close connection release mode; be sure to close the session to release JDBC resources!
01:34:14 [main] TRACE org.hibernate.impl.SessionImpl # afterTransactionCompletion [600] - after transaction completion
01:34:14 [main] TRACE org.hibernate.impl.SessionImpl # close [318] - closing session
01:34:14 [main] TRACE org.hibernate.jdbc.ConnectionManager # cleanup [403] - performing cleanup
01:34:14 [main] DEBUG org.hibernate.jdbc.ConnectionManager # closeConnection [464] - releasing JDBC connection [ (open PreparedStatements: 0, globally: 0) (open ResultSets: 0, globally: 0)]
01:34:14 [main] TRACE org.hibernate.jdbc.JDBCContext # afterTransactionCompletion [263] - after transaction completion
01:34:14 [main] DEBUG org.hibernate.jdbc.ConnectionManager # afterTransaction [325] - transaction completed on session with on_close connection release mode; be sure to close the session to release JDBC resources!
01:34:14 [main] TRACE org.hibernate.impl.SessionImpl # afterTransactionCompletion [600] - after transaction completion

 -->


